<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline">
    <h1>RhodesGameSokoban</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li>
        <%= link_to "Game", :controller => :Game, :action => :index %>
      </li>
      <li>
        <%= link_to "Game2", :controller => :Game %>
      </li>
    </ul>
  </div>

</div>
