<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Game</h1>
  </div>

  <div data-role="content">
    <pre id="map" style="font-size: 20px"><%= @level %></pre>

    <table>
      <tr>
        <td></td>
        <td align="center"><input type="button" value="up" onClick="move('up');"></td>
        <td></td>
      </tr>
      <tr>
        <td><input type="button" value="left" onClick="move('left');"></td>
        <td align="center"></td>
        <td><input type="button" value="right" onClick="move('right');"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="button" value="down" onClick="move('down');"></td>
        <td></td>
      </tr>
    </table>

  </div>
</div>

<script type="text/javascript">
  function move(direction){
    $.get('/app/Game/move', { direction: direction});
    return false;
  }

  function set_level(level){
    $('#map').html(level);
  }

</script>